<body style="background-color: red">
	{%extends "base.html" %}
	{% block content %}
	<div style="text-alignment: center; font-size: large">
		The requirements for this project were that it should have an algorithmically challenging component since most of the class was focused on algorithms. The algorithm in this ConnectFour game comes with the computer's play. The algorithm recursively puts pieces in all available columns one at a time to a depth of 5. 
		Each HELLO EVERYBODYYYYY
	</div>
	{% endblock %}
</body>