<body style="background-color: rgb(42, 236, 167); text-align: center">
	{%extends "base.html" %}
	{% block content %}

	<!-- This is the website splashscreen that tells users about the game and allows -->
	<!-- them to change the difficulty of the program. -->

	<h1>Hello, Friend </h1>
	<div style="font-size: larger;">
		<b>To play ConnectFour, go over to the Game tab, and start playing!</b> <br/>
		<br/>
		If you've never played ConnectFour, it's similar to the classic tic-tac-toe game, but the difference is that <br/>
		in this game, players need to make a row of four (thus connecting four) of their pegs in a straight line, either horizontally, vertically or diagonally. <br/>
		You will be taking turns with the computer to drop peices into the columns. <br/>
		<br/>
		Over in the game tab, you can put your peices into the columns by clicking the buttons <br/>
		on top of each column labelled "Column 1", "Column 2", etc. <br/>
		You are playing as red, and the computer is yellow.<br/>
		<br/>
		You can also choose the difficulty at which you play. Here there are levels from 1-3. Please make sure you press <br/> 
		"Submit" if you change from the default, which is 1. <br/>
		Give yourself a pat on the back if you can beat the computer at all 3 levels. <br/>
		<b>Warning, computation time at levels 3 is very large, the computer may be slow</b><br/>
		<br/>
		<form>
			<input type="radio" name="difficulty" value="3" checked>1
			<br/>
			<input type="radio" name="difficulty" value="5">2
			<br/>
			<input type="radio" name="difficulty" value="7">3
			<br/><br/>
			<a href="javascript:change_difficulty()"> Submit.
		</form> 
	</div>
	{% endblock %}
</body>
